.sideBarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.sideBarRow__TItle{
    flex: 1;
    margin-left: 20px;
    font-size:12px ;
    font-weight:500 ;
}
.sideBarRow__Icon{
   color: #606060;
   font-size: large !important;
}
.sideBarRow:hover{
   background-color: lightgray;
   cursor: pointer;
}
.sideBarRow:hover > .sideBarRow__Icon{
    color: red;
}
.sideBarRow:hover > .sideBarRow__TItle{
    font-weight: bold;
}
.sideBarRow.selected{
    background-color: lightgray;
}
.sideBarRow.selected > .sideBarRow__Icon{
    color: red;
}
.sideBarRow.selected{
    background-color: #ccc;
}